.marquee{
  display: flex;
  margin-top: 10px;
}
.tab{

  background-color: goldenrod;
  display: inline-block;
  height: 5rem;
}
.tab2{
 
  display: inline-block;
  background-color: #AA6C39;
  height: 5rem;
}
.text{
  color: white;
  font-size: 2rem;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px 0px;

  width: 100%;
}
.marq{
  margin-top: 30px;
}